<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BusinessURL" connectionString="http://api.yelp.com/business_review_search?limit=20&amp;ywsid=vZnvCqaDf-HiywTw8K2oew"/>
    <add name="LocalAppDBConnection" connectionString="Data Source=localhost;Initial Catalog=incite;Integrated Security=True;"/>
    <add name="UserResourceConnection" connectionString="Data Source=localhost;Initial Catalog=incite;Integrated Security=True;"/>
    <add name="ImageLocation" connectionString="C:\inetpub\wwwroot\wyngr\images"/>
    <add name="ImageURL" connectionString="http://50.47.49.34/wyngr/images"/>
    <add name="ShudAuth" connectionString="1"/>
  </connectionStrings>
<!--

-->
  <appSettings>
    <add key="Debug" value="true"/>
    <add key="DebugLocation" value="c:\out.txt"/>
    <add key="ShudAuth" value="0"/>
    <add key="BrowseRefreshRate" value="5"/>
    <add key="ChatRefreshRate" value="5"/>
    <add key="Radius" value=".5"/>
    <add key="PlaceCategories" value="96926236,96926057,96926063,96926054,96926169,96926219,96926171,96926008,96926007,96926061,96926053,96926059,96927481,96927238,96927484"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2097150"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering allowHighBitCharacters="true"></requestFiltering>
    </security>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint automaticFormatSelectionEnabled="true" crossDomainScriptAccessEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>


    <services>
     
      <service name="Delivery.BusinessDelivery" behaviorConfiguration="BusinessServiceBehaviour">
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address ="" binding="webHttpBinding" contract="Delivery.IBusinessDelivery" behaviorConfiguration="web" >
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
        </endpoint>
      </service>

      <service name="Delivery.UserDelivery" behaviorConfiguration="BusinessServiceBehaviour">
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address ="" binding="webHttpBinding" contract="Delivery.IUserDelivery" behaviorConfiguration="web">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
        </endpoint>
      </service>

      <service name="Delivery.ApplicationDelivery" behaviorConfiguration="BusinessServiceBehaviour">
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address ="" binding="webHttpBinding" contract="Delivery.IApplicationDelivery" behaviorConfiguration="web">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BusinessServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>



  </system.serviceModel>

</configuration>
