<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BusinessURL" connectionString="http://api.yelp.com/business_review_search?limit=20&amp;ywsid=HJPpruk8klLzsyUyumugXA"/>
    <add name="LocalAppDBConnection" connectionString="Data Source=localhost;Initial Catalog=incite;Integrated Security=True;"/>
    <add name="UserResourceConnection" connectionString="Data Source=localhost;Initial Catalog=incite;Integrated Security=True;"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="Delivery.Service1" behaviorConfiguration="ServiceBehaviour">
        <endpoint address ="" binding="webHttpBinding" contract="Delivery.Service1" behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>



  </system.serviceModel>

</configuration>
